params {
    // general options
    output = "pipeline_results"

    // fastp options
    fastp_threads = 6
    compress_level = 7
    poly_g_min_len = 5
    poly_x_min_len = 10
    cut_mean_quality = 27
    n_base_limit = 0
    average_qual = 25
    length_required = 80

    // kraken2, bracken options
    kraken2 = false
    kraken_db = "/mss4/db/Kraken/Pluspfp"
    classification_lvl = "S"

    // bbmap options
    host_dir = "host"
    human_dir = "human"
    map_memory = false
    map_cpus = 6

    // spades options
    spades_mode = false

    //metawrap binning options
    mw_cpus = 30
    concoct = false
    metabat2 = false
    maxbin2 = false

    // metawrap bin refinement options
    metawrap_completion = 50
    metawrap_contamination = 30

    //metaphlan options
    metaphlan = false
    metaphlan_cpus = 20
    metaphlan_analysis_type = 'rel_ab'
}

conda {
    enabled = true
    createTimeout = '3h'
}
